#app {
  height: 300px;
  width: 500px;
  display: grid;
  grid-template-columns: [begin] 15% [mid] 61% [third] 24% [end];
  grid-template-rows: 20% 40% 40%;

}

#header {
  grid-column: begin / end;
  background-color: #9BCE1D;
}

#article-1 {
  background-color: lightcoral;
}

#nav {
  background-color: cornflowerblue;
}

#ad-area {
  background-color: cornflowerblue;
}

#footer {
  grid-column: begin / end;
  background-color: #9BCE1D;
}
